/* custom css */
.App{
  position: relative;
  padding: 50px;
}
.banner-img img{
 position: absolute;
 width: 22%;
 height: 98%;
 left: 0.45%;
 top: 1%;
 bottom: 1%;
}
.user-img img{
 position: absolute;
 width: 22%;
 height: 98%;
 right: 0.45%;
 top: 1%;
 bottom: 1%;
}